@media screen and (max-width: 767px) {

    .no-mobile {
        display: none;
    }

    .col-one {
        padding-top: 0px;
        padding-left: 11px !important;
        padding-right: 26px !important;
        padding-bottom: 0px;
    }

    .navbar-toggler-icon {
        padding-top: 5px;
    }

    .navbar-collapse {
        background-color: var(--color-background);
        padding: 20px;
        text-align: center;
        border-radius: 40px;
    }

    .navbar-collapse .btn-white {
        margin-top: 20px;
    }

    .navbar-collapse .btn-icon {
        margin-right: 20px;
    }

    .navbar-collapse .bnt-icon span.icon {
        display: none;
    }

    .banner img {
        content: url(../img/MOBILE.png);
        position: absolute;
        width: 100%;
        top: 0px;
        left: -7px;
    }

    .text-banner h1 {
        font-size: 36px;
    }

    .text-banner p {
        font-size: 18px !important;
    }

    .btn-yellow,
    .btn-white {
        padding: 9px 10px;
        font-size: 16px;
    }

    .btn-icon-left span.icon-left {
        width: 43px;
        height: 43px;
        margin-left: -56px;
    }

    .btn-icon-left {
        padding-left: 63px !important;
    }

    .title {
        font-size: 30px;
    }

    .servicos {
        padding-bottom: 50px;

    }

    .produtos {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .container-menu {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        padding-bottom: 26px;
        margin-bottom: 30px;
    }

    .img-produto {
        position: absolute;
        left: 0px !important;
        top: 0px;
    }

    .card-item {
        width: 187px;
        height: 281px;
        padding-left: 17px;
        justify-content: center;
        align-items: start;
    }

    .card-item .img-produto img {
        width: 100%;
    }

    .title-produto {
        margin-top: 187px !important;
        height: 30px !important;
        width: 100%;
        text-align: left !important;
    }

    .card-item .price-produto {
        margin-bottom: 0px !important;
        font-size: 20px !important;
    }

    .card-item:hover .price-produto {
        margin-top: 180px !important;
    }

    .btn-add {
        margin-left: 15px;
    }

    #itensCarrinho {
        margin-top: 15px !important;
    }

    .depoimentos {
        padding-bottom: 50px;
    }

    .text-depoimento i {
        font-size: 26px;
    }

    .reserva {
        padding-bottom: 50px;
    }

    .card {
        font-size: 16px!important;
    }

    .card-secondary {
        padding: 45px;
        border-radius: 50px;
    }

    .container-logo-footer {
        justify-content: center;

    }

    .container-texto-footer p {
        text-align: center;

    }

    .container-redes-footer {
        margin-top: 40px;
        margin-bottom: 50px;
        justify-content: center;
    }

    .modal-full {
        padding: 40px;
    }

    .modal-full .item-carrinho {
        padding-left: 0;
        padding-right: 0;
    }

    .modal-full .img-produto {
        position: relative;
        left: 0;
    }

    .modal-full .img-produto img {
        width: 50px;
    }

    .modal-full .title-produto {
        margin-top: 0px !important;
    }

    .modal-full .dados-produto {
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
    }

    .modal-full .title-produto,
    .modal-full .price-produto {
        font-size: 16px !important;
    }

    .modal-full .add-numero-itens {
        padding: 2px 10px;
    }

    .modal-full .form-control {
        font-size: 16px;
    }

    .quantidade-produto-resumo {
        font-size: 16px;
    }

}